In [81]:
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd
import torch
import torch.nn as nn

In [55]:
df = pd.read_excel(
    io="data/gold-prices.xlsx",
    sheet_name="Daily",
    usecols="D,E",
    skiprows=8,
    index_col="Name",
)

In [56]:
df.head()

            US dollar
Name
1978-12-29     226.00
1979-01-01     226.00
1979-01-02     226.80
1979-01-03     218.60
1979-01-04     223.15

In [73]:
X = np.array(df['US dollar'].to_list()).reshape((-1, 1))
print(X)
print(f"Shape: {X.shape}")
print(f"dtype: {X.dtype}")

[[ 226. ]
 [ 226. ]
 [ 226.8]
 ...
 [1810.2]
 [1807.4]
 [1779.3]]
Shape: (10936, 1)
dtype: float64

In [74]:


standard_scaler = StandardScaler()
standard_scaler.fit(X)
print(standard_scaler.mean_)

[674.967094]

In [75]:
X_scaled = standard_scaler.transform(X)
X_scaled

array([[-0.9861151 ],
       [-0.9861151 ],
       [-0.98435798],
       ...,
       [ 2.49343511],
       [ 2.48728517],
       [ 2.42556609]])

In [78]:
X_scaled.min(), X_scaled.max(), X_scaled.mean()

(-1.0062122410928969, 3.0578022523026314, 1.6633041363806296e-16)

In [ ]:
class LSTM:
    def __init__(self, alpha=7, beta=3):
        self.beta = beta
        for _ in range(self.beta):
            nn.Linear(in_features=alpha, out_features=alpha, bias=True)
            nn.LSTM()

In [80]:
np.random.random()

0.8794071104416675